#!/usr/bin/env zsh
export Rainfall__HomeDir="$(expand_path $(dirname $0))"
export Rainfall__Workspaces="${Rainfall__HomeDir}/cosmos"
find ./cosmos/bin/ -type f -exec chmod +x {} \;
export PATH="${Rainfall__HomeDir}/cosmos/bin:${PATH}"
